.col-5 {
    margin: 5px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

#plus,
#minus {
    font-weight: bold;
    border: none;
}

#minus {
    width: 40px;
    background-color: rgb(248, 68, 68);
    font-size: large;
    color: white;
}

.uniform-button {
    width: 50px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    background-color: #00D000;
    border-color: #00D000;
}