<div>
    <h1>Leenoverzicht</h1>
    <h2>Aangevraagd</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Boek Titel</th>
                <th scope="col">Datum Aangevraagd</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let userReservation of userReservations">
                <tr app-user-reservation [reservation]="userReservation"></tr>
            </ng-container>
        </tbody>
    </table>

    <h2>In Lening</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Boek Titel</th>
                <th scope="col">Datum Geleend</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let loan of loans">
                <tr *ngIf="loan.isActive" app-loan [loan]="loan"></tr>
            </ng-container>
        </tbody>
    </table>

    <h2>Leen Geschiedenis</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Boek Titel</th>
                <th scope="col">Datum Geleend</th>
                <th scope="col">Datum Ingeleverd</th>
                <th scope="col">Review Achterlaten</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let loan of loans">
                <tr *ngIf="!loan.isActive" app-loan [loan]="loan"></tr>
            </ng-container>
        </tbody>
    </table>
</div>