.ng-select.custom {
    border-style: solid;
    border-width: 1px;
    min-height: 0px;
    border-radius: 5px;
    background-color: red
}

.ng-dropdown-panel {            
    background-color: blue;
}
