<div class="card flex-row">
  <img
    class="card-img-left example-card-img-responsive"
    src="assets/imgs/bookCover.png"
  />
  <div class="card-body">
    <button
      id="title"
      class="card-title h5 h4-sm"
      (click)="gotoBookDetailPage(book)"
    >
      {{ book?.title }}
    </button>
    <h6
      class="card-subtitle mb-2 text-muted"
      *ngFor="let item of book?.authors"
    >
      {{ item }}
    </h6>
    <p class="card-text">{{ book?.description }}</p>
      <app-add-copies [book]="book"></app-add-copies>
    </div>
  </div>
