h1 {
    font-size: 30px;
}

h2 {
    font-size: 20px;
}

.card {
    margin: 20px 0px 0px 50px;
}

img {
    min-width: 200px;
    min-height: 150px;
}

.card-img-left {
    width: 150px;
}

#title {
    background: none;
    border: none;
}

#title:hover {
    text-decoration: underline;
}

.dropdown {
    background-color: none;
    border: none;
}