<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#saveBookModal" (click)="addAuthor()">
  Boek toevoegen
</button>

<!-- Modal -->
<div class="modal fade" id="saveBookModal" tabindex="-1" aria-labelledby="saveBookModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h1 class="modal-title fs-5" id="saveBookModalLabel">Boek toevoegen</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="resetForm()"></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="bookForm">
              <div class="mb-3">
                <label for="bookTitle">Titel</label><br>
                <input formControlName="title" class="form-control" type="text" id="bookTitle" placeholder="Titel">
              </div>
              <div *ngFor="let authors of authors.controls; let i=index">
                <label for="bookAuthor">Auteur</label>
                <div formArrayName="authors" class="input-group mb-3">
                  <input [formControlName]="i" class="form-control" type="text" id="bookAuthor" placeholder="Auteur">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" id="minus" type="button" (click)="removeAuthor(i)">-</button>
                  </div>
                </div>
              </div>
              <button class="btn" id="plus" type="button" (click)="addAuthor()">+ Auteur</button>
              <div class="mb-3">
                <label for="bookDescription">Beschrijving</label><br>
                <textarea formControlName="description" class="form-control" type="text" id="bookDesc" placeholder="Beschrijving"></textarea>
              </div>
              <div class="mb-3">
                <label for="bookIsbn">ISBN</label><br>
                <input formControlName="isbn" class="form-control" type="text" id="bookIsbn" placeholder="ISBN">
              </div>
              <div class="mb-3">
                <label for="bookIsbn">Publicatie datum</label><br>
                <input formControlName="publishingDate" class="form-control" type="date" id="bookPublishingDate">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="resetForm()">Cancel</button>
            <button [disabled]="bookForm.invalid" type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="onSubmit()">Opslaan</button>
          </div>
      </div>
  </div>
</div>