<div>
    <h1>Aangevraagd</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Trainee</th>
                <th scope="col">Boek</th>
                <th scope="col">Aanvraag datum</th>
                <th scope="col">Goedkeuren</th>
                <th scope="col">Annuleren</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let reservation of reservations" app-reservation [reservation]="reservation"></tr>
        </tbody>
    </table>
</div>