<td *ngIf="isReservationList"><a href="loans">{{user?.firstName}} {{user?.lastName}}</a></td>
<td><a href="book/{{loan?.id}}">{{loan?.bookTitle}}</a></td>
<td>{{loan?.startDate}}</td>
<td *ngIf="loan?.endDate != null && !isReservationList">{{loan?.endDate}}</td>
<td *ngIf="isReservationList"><button type="button" class="btn btn-success">Innemen</button></td>
<td *ngIf="loan?.endDate != null && !isReservationList"><button type="button" class="btn btn-dark" disabled>Schrijf een review</button></td>
