<td *ngIf="isReservationList"><a href="user/{{user?.id}}">{{user?.firstName}} {{user?.lastName}}</a></td>
<td><a href="book/{{book?.id}}">{{book?.title}}</a></td>
<td>{{loan?.startDate}}</td>
<td *ngIf="loan?.endDate != null && !isReservationList">{{loan?.endDate}}</td>
<td *ngIf="isReservationList || role === 'TRAINER' && loan?.isActive"><button type="button" class="btn btn-success" (click)="openConditionModal(conditionModalContent)">Innemen</button></td>

<!-- Modal -->
<ng-template #conditionModalContent let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{ modalTitle }}</h4>
    </div>
    <div class="modal-body">
      <form [formGroup]="innemenForm">
        <div class="form-group">
          <label for="conditionEnd">Conditie:</label>
          <select formControlName="conditionEnd" class="form-control" id="conditionEnd">
            <option value="" disabled selected>Selecteer een conditie</option>
            <option value="NIEUW">Nieuw</option>
            <option value="GOED">Goed</option>
            <option value="GEMIDDELD">Gemiddeld</option>
            <option value="SLECHT">Slecht</option>
            <option value="ONBRUIKBAAR">Onbruikbaar</option>
          </select>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.dismiss('cancel')">Cancel</button>
      <button type="button" class="btn btn-primary" (click)="modal.close('save')" [disabled]="innemenForm.invalid">Opslaan</button>
    </div>
  </ng-template>
