<!-- Als ik op een user pagina zit, dan wil ik de naam niet laten zien-->
<td *ngIf="isUserList"><a href="user/{{user?.id}}">{{user?.firstName}} {{user?.lastName}}</a></td>
<td><a href="book/{{book?.id}}">{{book?.title}}</a></td>
<td>{{reservation?.requestDate}}</td>
<td>{{reservation?.reservationRequest}}</td>
<!-- Afhankelijk van de status wil ik deze buttons disabled maken-->
<td><button [disabled]="reservation?.reservationRequest !== 'PENDING'" type="button" class="btn btn-success" (click)="acceptReservation()" (click)="reloadPage()">Goedkeuren</button></td>
<td><button [disabled]="reservation?.reservationRequest !== 'PENDING'" type="button" class="btn btn-danger" (click)="denyReservation()">Afwijzen</button></td>

<!-- TODO: check of reservations ook goed gaat-->
<!-- TODO: check of het goed gaat met de verschillende rollen-->