<app-registration (onSave)="loadUsers(currentPage)" *ngIf="hasCreatePermission()"></app-registration>

<app-search-bar (searchEvent)="onSearch($event)"></app-search-bar>

<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
<div class="container bootstrap snippets bootdey">
  <div class="row">
  <h2 class="text-primary title"><span class="glyphicon glyphicon-align-justify"></span>Gebruikers</h2>

      <div class="searchable-container">
        @for (user of users; track user) {
          <app-user [user]="user"></app-user>
          }
          
      </div>
      <div class="text-center mt-3 mt-sm-3">
        <ul class="pagination justify-content-center mb-0">
          <li class="page-item" [class.disabled]="currentPage === 1">
            <a class="page-link" (click)="setPage(currentPage - 1)" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only" style="cursor: pointer;">Vorige</span>
            </a>
          </li>
          <li class="page-item" *ngFor="let page of totalPagesArray" [class.active]="page === currentPage">
            <a class="page-link" (click)="setPage(page)" style="cursor: pointer;">{{ page }}</a>
          </li>
          <li class="page-item" [class.disabled]="currentPage === totalPages">
            <a class="page-link" (click)="setPage(currentPage + 1)" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only" style="cursor: pointer;">Volgende</span>
            </a>
          </li>
        </ul>
      </div>
</div>
</div>
