<img *ngIf="book?.imageLink; else defaultImage" class="bookCover float-start" [src]="book?.imageLink"
  alt="Image of {{book?.title}}" />

<ng-template #defaultImage>
  <img src="assets/imgs/bookCover.png" alt="Default Image" class="bookCover float-start" />
</ng-template>

<div id="table" class="table-responsive position-relative float-start w-50">
  <table class="table align-middle table-bordered">
    <thead>
      <tr>
        <th id="header" class="text-center" colspan="2" scope="col">
          Boek details
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Titel</th>
        <td>{{ book?.title }}</td>
      </tr>
      <tr>
        <th scope="row">Auteurs</th>
        <td>
          <span>
            <ng-container *ngFor="let item of book?.authors">
              {{ item }} <br>
            </ng-container>
          </span>
        </td>
      </tr>
      <tr>
        <th scope="row">Beschrijving</th>
        <td>{{ book?.description }}</td>
      </tr>
      <tr>
        <th scope="row">Categorie</th>
        <td>
          <span>
            <ng-container *ngFor="let item of book?.categories">
              {{ item }} <br>
            </ng-container>
          </span>
        </td>
      </tr>
      <tr>
        <th scope="row">Publicatie datum</th>
        <td>{{ book?.publishingDate }}</td>
      </tr>
      <tr>
        <th scope="row">ISBN</th>
        <td>{{ book?.isbn }}</td>
      </tr>
      <tr *ngIf="!!role && role == 'TRAINER'">
        <th scope="row">Aantal kopieën</th>
        <td>{{ book?.copyCount }} <button type="button" class="btn btn-success" (click)="goToBookCopyList(book)">Bekijk kopieën</button></td>
      </tr>
      <tr>
        <th scope="row">Aantal beschikbare kopieën</th>
        <td>{{ book?.availableCopyCount }}</td>
      </tr>
    </tbody>
  </table>
</div>

<button type="button" class="btn btn-success" (click)="createReservation()">Reserveer boek</button>